[flake8]
ignore = C901,W503
max-line-length = 88
exclude = cookiecutter
per-file-ignores =
    # Don't require docstrings conventions or type annotations in private modules
    singer_sdk/helpers/_*.py:ANN,DAR,D105
max-complexity = 10
docstring-convention = google
allow-star-arg-any = true
